.button {
    width: 100%;
    padding-inline: 1rem;
    padding-block: 0.5rem;
    border-radius: 10px;
    border: 2px solid rgba(35, 130, 35, 1);
    background-color: transparent;
    color: rgba(35, 130, 35, 1);
}