* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.viewport {
    display: flex;
    justify-content: center;
    background-color: green;
}

.calendar_container{
    width: 50%;
    background-color: red;
}

.activities_container{
    width: 50%;
    background-color: blue;
    display: flex;
    flex-direction: column;
    align-items: center;
}